body {
  background-color: #f4f6f9;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

/* Main Container */
.dashboard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Card Styling */
.card {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Fix Chart Width + Height */
.chart-container {
  width: 100%;
  height: 400px;
}

.card canvas {
  width: 100% !important;
  height: 400px !important;
}

/* Add Expense Form */
.add-expense-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100;
  margin: 0 auto;
  align-items: center;
  
}

.add-expense-form input,
.add-expense-form select {
  
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.add-expense-form button {
  padding: 10px 18px;
  background-color: #5d1adb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-expense-form button:hover {
 background-color:#1a02a2;
}

/* Expense Items */
.expense-item {
  width: 100%;
  background: #ffffff;
  padding: 15px;
  font-size:  18px;
  border-radius: 10px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Buttons */
.expense-actions {
  margin-left: 20px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit-btn {
   background-color: #5d1adb;
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background-color: #d65d3b;
  color: white;
}

.edit-btn:hover {
  background-color:#1a02a2;
}

.delete-btn:hover {
  background-color: #a33e13;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #dd971e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #c5870a;
}

.pagination button:disabled {
  background-color: #d1d5db;
  cursor: not-allowed;
}

/* Responsive Fix */
@media (min-width: 1024px) {
  .dashboard-container {
    max-width: 1100px;
  }
}